<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
<link rel="stylesheet" href="style.css" />

<script data-require="angularjs@1.4.4" data-semver="1.4.4" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>



<div class="row">
    <div class="col-md-4">
        <div class="portlet box purple">
            <div class="portlet-title sbold">
                <div class="caption">
                    <label>
                        ASM
                    </label>
                </div>

            </div>
            <div class="portlet-body">
                <form name="frm" novalidate>
                    <div class="row">
                        <div class="from-body">
                            <div class="form-group" style="padding: 5px 15px !important" ng-class="{'has-error':frm.ASMName.$touched && frm.ASMName.$invalid}" data-toggle="tooltip" data-placement="bottom" title="ASM Name">
                                <input type="text" class="form-control" id="txtFocus" placeholder="ASM Name" name="ASMName" ng-model="entity.Name" maxlength="51" ng-maxlength="50" required autofocus />
                                <span class="help-block" style="display: block;" ng-if="frm.ASMName.$error.required && frm.AICName.$touched">ASM Name is required!</span>
                                <span class="help-block" ng-if="frm.ASMName.$error.maxlength">50 Character Max</span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="col-md-3">
                                        <label class="sbold" style="margin-top: 10px;">Status:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="optionsRadios" ng-value="true" ng-model="entity.IsActive"> Active
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="optionsRadios" ng-value="false" ng-model="entity.IsActive"> Inactive
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <text-angular ng-model="htmlVariable"></text-angular>
                            <div text-angular ng-model="htmlVariable"></div>
                            <button ng-click="check()">C</button>

                            <trix-editor ng-model-options="{ updateOn: 'blur' }" spellcheck="true"
                                         class="trix-content" ng-model="trix"
                                         angular-trix trix-initialize="trixInitialize(e, editor);"
                                         trix-change="trixChange(e, editor);"
                                         trix-selection-change="trixSelectionChange(e, editor);"
                                         trix-focus="trixFocus(e, editor);"
                                         trix-blur="trixBlur(e, editor);"
                                         trix-file-accept="trixFileAccept(e, editor);"
                                         trix-attachment-add="trixAttachmentAdd(e, editor);"
                                         trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                         placeholder="Write something.."></trix-editor>
                            <div>
                                <textarea>{{trix}}</textarea>
                                <p ng-bind-html="trix">

                                </p>
                            </div>
                            <div id="toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-font"></select>
                                    <select class="ql-size"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-script" value="sub"></button>
                                    <button class="ql-script" value="super"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-header" value="1"></button>
                                    <button class="ql-header" value="2"></button>
                                    <button class="ql-blockquote"></button>
                                    <button class="ql-code-block"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-indent" value="-1"></button>
                                    <button class="ql-indent" value="+1"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-direction" value="rtl"></button>
                                    <select class="ql-align"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                    <button class="ql-image"></button>
                                    <button class="ql-video"></button>
                                    <button class="ql-formula"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-clean"></button>
                                </span>
                            </div>
                            <div id="editor">
                            </div>

                            <div class="form-actions" style="padding: 5px 15px !important" block-ui="entryBlock">
                                <button type="submit" class="btn btn-lg btn-success box-shadow--8dp" style="min-width:90px !important; margin-right: 10px; margin-bottom: 5px" ng-disabled="frm.$invalid" ng-click="post('save')">Submit</button>
                                <!--<button type="button" class="btn btn-lg btn-danger box-shadow--8dp" style="min-width:90px !important; margin-right: 10px; margin-bottom: 5px" ng-show="entity.CommentsTypeId > 0" ng-click="post('delete')">Delete</button>-->
                                <button type="button" class="btn btn-lg btn-default box-shadow--8dp" style="min-width:90px !important; margin-bottom: 5px" ng-click="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="portlet box purple">
            <div class="portlet-title sbold">
                <div class="caption">
                    <label>
                        ASM Names
                    </label>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tbl-outer">
                    <table class="responstable table-hover">
                        <tbody>
                            <tr class="t-head" style="font-size: 14px !important">
                                <th class="sbold">#</th>
                                <th class="sbold text-center" data-th="Details"><span>ASM NAME</span></th>
                                <th class="sbold text-center" data-th="Details"><span>Status</span></th>
                            </tr>
                            <tr dir-paginate="item in entityListPaged | filter:q | itemsPerPage: DefaultPerPage" current-page="currentPage" total-items="total_count" pagination-id="cust" ng-click="rowClick(item)" ng-class="{ 'rowSelected' : entity.Id === item.Id}">
                                <td class="text-center">{{$index + ((currentPage-1)*PerPage) + 1}}</td>
                                <td class="text-center"> {{item.Name}} </td>
                                <td class="text-center"> {{item.IsActive ? 'Active' : 'Inactive' }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="tbl-outer" style="padding:10px 20px !important">
                        <dir-pagination-controls pagination-id="cust"
                                                 direction-links="true"
                                                 boundary-links="true" on-page-change="onPageChange(currentPage)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p ng-bind-html="trix">

</p>
<script>
    $(document).ready(function () {
        const quill = new Quill('#editor', {
            modules: {
                syntax: true,
                toolbar: '#toolbar-container',
            },
            placeholder: 'Compose an epic...',
            theme: 'snow',
        });
    });

</script>